{% extends "base.html" %}

{% block title %}
	{{ page_title }}
{% endblock title %}

{% block contents %}
	<h1>{{ page_title }}</h1>
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Content
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" href="{% url 'sosmed:list' %}">All Content</a>

	    {% for content in list_content %}
	    	<a class="dropdown-item" 
	    	href="{% url 'sosmed:list' %}?content_filter={{content}}">
	    		{{content}}
	    	</a>
	    {% endfor %}
	  </div>
	</div>

	<table class="table mt-2">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First</th>
	      <th scope="col">Last</th>
	      <th scope="col">Username</th>
	      <th scope="col">Content</th>
	      <th scope="col">Delete</th>
	      <th scope="col">Update</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for account in all_account  %}
		    <tr>
		      <th scope="row">{{ forloop.counter1 }}</th>
		      <td>{{ account.first_name }}</td>
		      <td>{{ account.last_name }}</td>
		      <td>{{ account.username }}</td>
		      <td>{{ account.content }}</td>
		      <td>
		      	<a class="btn btn-danger" href="{% url 'sosmed:delete' account.id %}">Delete</a>
		      </td>
		      <td>
		      	<a class="btn btn-warning" href="{% url 'sosmed:update' account.id %}">Update</a>
		      </td>
		    </tr>
	  	{% endfor %}
	  </tbody>
	</table>
	<a class="btn btn-primary" href="{% url 'sosmed:create' %}">Add</a>
{% endblock contents %}